<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 style="margin-top: 0px;">Software Carpentry Workshop @ {{page.venue}}</h2>
        <div style="font-style:italic; margin-bottom: 10px;">
            The <a href="http://www.nottingham.ac.uk/adac/index.aspx" target="_blank" rel="nofollow">Advanced Data Analysis Centre</a>,
          <a href="http://elixir-uk.org/" target="_blank" rel="nofollow">ELIXIR-UK</a> and the
          <a href="https://www.software.ac.uk/" target="_blank" rel="nofollow">Software Sustainability Institute</a> are proud
            to host a course in data analysis and software development covering
            programming in R and software design best practices for robust research software development.
        </div>
      <div class="row">
        <div class="col-md-6">
          <p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
